<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="reqres.CRUDOperations.GetAllUsersTest"/>
      <class name="reqres.CRUDOperations.GetSingleUserTest"/>
      <class name="reqres.CRUDOperations.UpdateUsertest"/>
      <class name="reqres.CRUDOperations.CreateUserTest"/>
      <class name="reqres.CRUDOperations.DeleteUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
